*{
    margin: 0;
    padding: 0;
}

.play{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid limegreen;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.pause{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid royalblue;
    line-height: 30px;
    color: #000;
    display: inline-block;
    cursor: pointer;
}